.log {
    text-align: center;
}

.logheader {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    
}

.logdetails {
    text-align: center;
    background-color: #6c0e88;
    padding: 0px 10px;
    border-radius: 8px;
}